
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.skin-blue .main-header .navbar,
.skin-blue .main-header .logo,
.main-footer {
    background: $beige-medium;
    color: $white;
}

.login-page,
.register-page,
.content-wrapper {
    background-color: $beige;
}

.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
    background-color: $beige-dark;
    color: $white;
}

.skin-blue .sidebar a {
    color: $white;
}

.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
    background-color: $beige;
}

.skin-blue .sidebar-form {
    border-color: $beige;
}

.footer-sticky-logo {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.user-image {
    background: $white;
    opacity: 0.6;
}

h1, h2, h3, h4, h5, h6, p, th, td, tr, label {
    color: $text-color;
}

.box.box-primary, .main-footer {
    border-top-color: $beige-dark;
}

.form-control:focus {
    border-color: $beige-dark;
}

.btn-primary, .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: $beige-medium;
    border-color: $beige-dark;
}

.btn-primary:hover {
    background-color: $beige-dark;
    border-color: $beige-dark;
}

.skin-blue .sidebar-menu>li.active>a {
    border-left-color: $beige;
}

.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a, .skin-blue .main-header li.user-header {
    background-color: $beige-medium;
}

.skin-blue .main-header .logo:hover,
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: $beige-dark;
}

.sidebar p {
    color: $white
}
